.container {
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
}

.main {
  display: flex;
  position: relative;
  perspective: 10cm;
  overflow: visible;
  height: 100dvh;
  width: 100dvw;

  //margin: 30px auto;
  //border: 1px solid red;
  //aspect-ratio: 1;

  //@media(orientation: portrait) {
  //  width: 90dvw;
  //}
  //@media(orientation: landscape) {
  //  height: 90dvh;
  //}
}

.settings {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;
}

.video {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100%;
}

.webcamWarning {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  background-color: #ffd54d;
  color: black;
  border: 1px solid #d36c04;
  border-radius: 5px;
}
