.container {
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
}

.main {
  display: flex;
  position: relative;
  perspective: 10cm;
  overflow: visible;
  height: 100dvh;
  width: 100dvw;

  //margin: 30px auto;
  //border: 1px solid red;
  //aspect-ratio: 1;

  //@media(orientation: portrait) {
  //  width: 90dvw;
  //}
  //@media(orientation: landscape) {
  //  height: 90dvh;
  //}
}

.settings {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;
}

.video {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100%;
}

.webcamWarningContainer {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  border: 4px solid #ffd54d;
  box-shadow: inset 0 0 5px 0 rgba(211, 108, 4, 0.5);
}

.webcamWarning {
  background-color: #ffd54d;
  color: black;
  border: 1px solid #d36c04;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.homeButton {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}

.outOfFrameContainer {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  border: 4px solid #D33;
  box-shadow: inset 0 0 5px 0 rgba(255, 0, 0, 0.5);
}

.outOfFrameWarning {
  background-color: #D33;
  color: black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
