.container {
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
}

.main {
  display: flex;
  position: relative;
  perspective: 10cm;
  overflow: visible;
  height: 100dvh;
  width: 100dvw;

  //margin: 30px auto;
  //border: 1px solid red;
  //aspect-ratio: 1;

  //@media(orientation: portrait) {
  //  width: 90dvw;
  //}
  //@media(orientation: landscape) {
  //  height: 90dvh;
  //}
}

.frame {
  --frame-main-color: #3f0b0b;
  --frame-inner-color: black;
  background-image: linear-gradient(to top right, transparent 48.5%, var(--frame-inner-color) 48.5%, var(--frame-inner-color) 51.5%, transparent 51.5%), linear-gradient(to top right, transparent 48.5%, var(--frame-inner-color) 48.5%, var(--frame-inner-color) 51.5%, transparent 51.5%), linear-gradient(to top left, transparent 48.5%, var(--frame-inner-color) 48.5%, var(--frame-inner-color) 51.5%, transparent 51.5%), linear-gradient(to top left, transparent 48.5%, var(--frame-inner-color) 48.5%, var(--frame-inner-color) 51.5%, transparent 51.5%);
  background-size: 50px 50px;
  background-position: top left, bottom right, top right, bottom left;
  background-repeat: no-repeat;
  padding: 50px;
  background-color: var(--frame-main-color);
}
.frame:after {
  position: absolute;
  content: '';
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  top: 48px;
  left: 48px;
  border: 2px solid gray;
}

.settings {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;
}

.video {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100%;
}

.webcamWarning {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  background-color: #ffd54d;
  color: black;
  border: 1px solid #d36c04;
  border-radius: 5px;
}
